<a href="https://colab.research.google.com/github/RatanakamonS/DADS5001-PART1/blob/main/Pandas3_DADS5001_2024Sep1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import pandas as pd
import numpy as np
import IPython
from IPython.display import display

print( f"Python {sys.version}" )
print( f"Pandas {pd.__version__}" )
print( f"NumPy {np.__version__}" )
print( f"IPython {IPython.__version__}" )

Python 3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]
Pandas 2.1.4
NumPy 1.26.4
IPython 7.34.0

In [2]:
# Load the pokemon dataset
df_pokemon = pd.read_csv('https://raw.githubusercontent.com/ShaileshDhama/Exploratory-Data-Analysis-On-Pokemon-Dataset/master/Complete%20Pokemon.csv')
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

# 1. Pandas: Aggregation

- Why aggregating?
  - Efficient data summarization
  - Allow us to squeeze data (This is very useful when the data is so big and cannot fit in one DataFrame)

- For multi-dimensional data, be careful of which axis that we want to apply the aggregation along.
- คือ การ dup เพราะโยนเข้าไปหลายๆค่า ตู้มออกมาให้ค่าเดียว

## 1.1 Numeric aggregation

`mean()`, `sum()`, `min()`, `max()`, `median()`, `mode()`, `std()`, `corr()` => These functions can only be applied to numeric data.

In [3]:
# Prepare the data to play around
df = df_pokemon

Aggregation on pandas.Series:

In [4]:
# Count the number of NA values in a specific column
df['type2'].isna().sum()     # When summing bool values, True equals 1 and False equals 0

384

In [5]:
# For all pokemons, find the average values of 'hp', 'attack', and 'defense'
print( f"Average hp: {df.loc[ :, 'hp' ].mean()}" )
print( f"Average attack: {df.loc[ :, 'attack' ].mean()}" )
print( f"Average defense: {df.loc[ :, 'defense' ].mean()}" )

Average hp: 68.95880149812734
Average attack: 77.85767790262172
Average defense: 73.00873907615481

Aggregation on pandas.DataFrame:

In [6]:
# Reminder: df.isna() results in pandas.DataFrame of bool
df.isna()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
800,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [29]:
# Count the number of NA values for each column
df.isna().sum()     # This equals df.isna().sum(axis=0) เล่นกับข้อมูลหลายมิติ ต้องไปเช็คว่าเล่น default กับมิติไหน

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [8]:
# Count the number of NA values for each row
df.isna().sum(axis=1)

0      0
1      0
2      0
3      1
4      1
      ..
796    1
797    1
798    1
799    2
800    1
Length: 801, dtype: int64

In [9]:
# Find a mean value for each column (by default NA values are skipped)
df.loc[ : , ['hp','attack','defense'] ].mean()  # This equals df.loc[ : , ['hp','attack','defense'] ].mean(axis=0)

hp         68.958801
attack     77.857678
defense    73.008739
dtype: float64

In [10]:
# Find a mean value for each row
# By default, pandas will try to use values in all columns first, then try to use only numeric data
df.loc[ : , ['hp','attack','defense'] ].mean(axis=1)

0       47.666667
1       61.666667
2      101.000000
3       44.666667
4       60.000000
          ...
796    100.333333
797    123.666667
798    125.666667
799    101.666667
800     96.666667
Length: 801, dtype: float64

In [11]:
# Show all pokemons whose 'hp' attribute is not below the average hp
print( f"Average hp: {df['hp'].mean()}" )
df.loc[ df['hp'] >= df['hp'].mean() , ['pokedex_number','name','hp'] ]

Average hp: 68.95880149812734

     pokedex_number        name   hp
2                 3    Venusaur   80
5                 6   Charizard   78
8                 9   Blastoise   79
17               18     Pidgeot   83
19               20    Raticate   75
..              ...         ...  ...
795             796   Xurkitree   83
796             797  Celesteela   97
798             799    Guzzlord  223
799             800    Necrozma   97
800             801    Magearna   80

[373 rows x 3 columns]

In [12]:
# Show pokemons whose 'defense' attribute is the highest
print( f"Maximum defense: {df['defense'].max()}" )
df.loc[ df['defense'] == df['defense'].max() , ['pokedex_number','name','hp','defense'] ]

Maximum defense: 230

     pokedex_number     name  hp  defense
207             208  Steelix  75      230
212             213  Shuckle  20      230
305             306   Aggron  70      230

## 1.2 Categorical aggregation

`unique()`, `nunique()`, `count()`, `value_counts()` => These functions can be applied to both numeric and non-numeric data.

For pandas.Series:

In [13]:
# Numeric data: Show unique values
df['hp'].unique()

array([ 45,  60,  80,  39,  58,  78,  44,  59,  79,  50,  40,  65,  63,
        83,  30,  75,  35,  55,  70,  90,  46,  61,  81,  95,  38,  73,
       115, 140,  10,  25,  52, 105,  85, 250,  20, 130,  48, 160,  41,
        91, 106, 100, 125, 190, 255,  28,  68, 150,  31,   1,  64,  84,
       104,  72, 144, 170, 110,  43,  66,  86,  99,  76,  53,  37,  77,
        67,  97, 111,  49,  71, 103,  57, 108, 135,  74,  69, 120, 116,
        62,  54,  36,  51, 114, 165, 109,  89,  92,  56,  88, 123, 101,
        82,  42, 126, 216,  47, 137, 107, 223])

In [14]:
# Numeric data: Show the number of unique values
df['hp'].nunique()

99

In [15]:
# Numeric data: Count non-NA cells
df['hp'].count()

801

In [16]:
# Numeric data: View unique values and their counts
# Result is sorted by the count (frequency) from max to min
df['hp'].value_counts()

hp
60     68
70     55
50     54
75     44
65     44
       ..
170     1
99      1
37      1
111     1
223     1
Name: count, Length: 99, dtype: int64

In [17]:
# Non-numeric data without NA: Show unique values
df['type1'].unique()

array(['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric',
       'ground', 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice',
       'dragon', 'dark', 'steel', 'flying'], dtype=object)

In [18]:
# Non-numeric data without NA: Show the number of unique values
df['type1'].nunique()

18

In [19]:
# Non-numeric data without NA: Count non-NA cells
df['type1'].count()

801

In [20]:
# Non-numeric data without NA: View unique values and their counts
df['type1'].value_counts()

type1
water       114
normal      105
grass        78
bug          72
psychic      53
fire         52
rock         45
electric     39
poison       32
ground       32
dark         29
fighting     28
ghost        27
dragon       27
steel        24
ice          23
fairy        18
flying        3
Name: count, dtype: int64

In [21]:
# Non-numeric data with NA: Show unique values
df['type2'].unique()

array(['poison', nan, 'flying', 'dark', 'electric', 'ice', 'ground',
       'fairy', 'grass', 'fighting', 'psychic', 'steel', 'fire', 'rock',
       'water', 'dragon', 'ghost', 'bug', 'normal'], dtype=object)

In [22]:
# Non-numeric data with NA: Show the number of unique values
df['type2'].nunique()     # default:dropna=True

18

**Note:** การใส่ dropna=False จะทำให้นับค่า NaN เพราะ Default of Count จะไม่นับค่า NaN

In [23]:
# Non-numeric data with NA: Show the number of unique values
df['type2'].nunique(dropna=False)     # default:dropna=True

19

In [24]:
# Non-numeric data with NA: Count non-NA cells
df['type2'].count()

417

In [25]:
# Non-numeric data with NA: View unique values and their counts
# Result is sorted by the count (frequency) from max to min
df['type2'].value_counts()    # default:dropna=True

type2
flying      95
poison      34
ground      34
fairy       29
psychic     29
fighting    25
steel       22
dark        21
grass       20
water       17
dragon      17
ice         15
rock        14
ghost       14
fire        13
electric     9
bug          5
normal       4
Name: count, dtype: int64

In [26]:
# Non-numeric data with NA: View unique values and their counts
# Result is sorted by the count (frequency) from max to min
df['type2'].value_counts(dropna=False)    # default:dropna=True

type2
NaN         384
flying       95
poison       34
ground       34
psychic      29
fairy        29
fighting     25
steel        22
dark         21
grass        20
water        17
dragon       17
ice          15
rock         14
ghost        14
fire         13
electric      9
bug           5
normal        4
Name: count, dtype: int64

For pandas.DataFrame:

**Note:** คำสั่ง unique() ใช้กับ DataFrame จะขึ้น Error

In [28]:
# unique() is available for pandas.Series but not for pandas.DataFrame
df.unique()   # AttributeError

AttributeError: 'DataFrame' object has no attribute 'unique'

In [ ]:
df.nunique(dropna=False)    #default:dropna=True

In [ ]:
# Using value_counts() on pandas.DataFrame

# It returns a MultiIndex Series
x = df[['type1','type2']].value_counts()

print( type(x), end='\n\n' )
print( x.index, end='\n\n' )
x

## 1.3 Aggregate using one or more operations over a specified axis

For pandas.Series:

In [32]:
func_name = lambda x: x+100-50
func_name(10000)
# แลมด้าฟังก์ชัน คือ ฟังก์ที่มี 1 input, 1 process และ 1 output

10050

In [ ]:
lambda x: x.mean(dropna=False)
#เอาไว้หุ้ม การคำนวณ ให้ไม่ตุย

In [ ]:
## Numerical aggregation

def my_mean( x ):
  return x.mean()
def my_max( x ):
  return x.max()

# Apply two functions to the Series
# Four commands below give the same results (pd.Series), use only one line

# Style 1: Pass a list of our custom functions
#df['hp'].agg([my_mean, my_max])

# Style 2: Pass a list of lambda functions
#df['hp'].agg([ lambda x: x.mean() , lambda x: x.max() ])

# Style 3: Pass a list of bulit-in function names
df['hp'].agg(['mean', 'max'])

# Style 4: Pass a list of bulit-in function names
#df['hp'].agg([np.mean, np.max])

In [ ]:
# Categorical aggregation
# When a function is passed, the function's input(s) cannot be specified
df['type1'].agg( [pd.Series.nunique, pd.Series.count] )  # Return pd.Series

In [ ]:
# Categorical aggregation with a lambda function
df['type2'].agg( [pd.Series.nunique, lambda x: x.nunique(dropna=False)] )  # Return pd.Series

In [ ]:
# Categorical aggregation that returns pd.Series with mixed types
x = df['type1'].agg( [pd.Series.nunique, pd.Series.unique] )  # Return pd.Series
x

In [ ]:
# Inspect the result (x) of the above cell in more detail
for i,ii in enumerate(x.index):
  print(f'row index {i}: {ii}')
  print(f'|-- type: {type(x[ii])}')
  if isinstance(x[ii], np.ndarray):
    print(f'    |-- shape: {x[ii].shape}')
  elif isinstance(x[ii], list):
    print(f'    |-- len: {len(x[ii])}')
  print(f'|-- value: {x[ii]}\n')

For pandas.DataFrame:

In [ ]:
# Numerical aggregation applied for each column separately

# Find mean, min, and max values regarding each (numeric) column
df[ ['hp','attack','defense'] ].agg( ['mean','min','max'] )   # default: axis=0
#df[ ['hp','attack','defense', 'type1', 'type2'] ].agg( ['mean','min','max'] )   # ValueError: could not convert string to float

In [ ]:
# Numerical aggregation applied for each row separately

# Find mean, min, and max values regarding each row
df[ ['hp','attack','defense'] ].agg( ['mean','min','max'], axis=1 )

In [ ]:
# Numerical aggregation applied for each column separately
# Use a different set of functions for each column
df[ ['hp','attack','defense'] ].agg( {'hp':['mean','min','max'],
                                      'attack':['min', 'max'],
                                      'defense':['mean','min'] } )  # default: axis=0

In [ ]:
# Categorical aggregation applied for each column separately

sub_df = df[ ['pokedex_number','name','type1','type2'] ]
sub_df.agg( [pd.Series.nunique, pd.Series.count, pd.Series.unique] )   # default: axis=0

# 2. Pandas: Transform data

This section will focus on `transform()` and `apply()`.

In [ ]:
# Prepare the data to play around
df = df_pokemon[ ['pokedex_number','name','type1','type2','hp','attack','defense'] ]
df

For pandas.**Series**:

**Note:** ฟังก์ชันที่ไม่ทำให้เกิดการยุบค่า Aggregate function สามารถใช้คำสัง `Transform()` (มีปัญหากับ col) และ `apply()` ก็เหมือนกัน
- Both commands produce the same result (pd.Series), use only one
 - `df['hp'].apply(plus20)`
 - `df['hp'].transform(plus20)`

In [ ]:
# When a transform function IS NOT an aggregate function
plus20 = lambda x: x+20

# Both commands produce the same result (pd.Series), use only one
df['hp'].apply(plus20)
#df['hp'].transform(plus20)

In [ ]:
# When a transform function IS an aggregate function

# transform() cannot produce aggregated results BUT apply() can.
print( "apply('mean') :" , df['hp'].apply('mean') )        # OK
print( "transform('mean') :", df['hp'].transform('mean') ) # ValueError

For pandas.**DataFrame**:

In [ ]:
# When a transform function IS NOT an aggregate function

# Copy the original values just for easy comparison
df2 = df.loc[ :, ['hp','attack','defense'] ]

# The two commands below produce the same outputs (pandas.DataFrame)
# Be careful that both commands don't alter the original dataframe (df)
df2[['hp_after','attack_after','defense_after']] = df[['hp','attack','defense']].apply(lambda x: x+20)
#df2[['hp_after','attack_after','defense_after']] = df[['hp','attack','defense']].transform(lambda x: x+20)

df2

In [ ]:
# When a transform function IS an aggregate function
# transform() cannot produce aggregated results BUT apply() can
# The output of transform() has to be pandas.DataFrame that has the same shape as self

display( df[['hp','attack','defense']].apply('mean') )      # OK
display( df[['hp','attack','defense']].transform('mean') )  # ValueError

`apply()` vs. `transform()`

- Comparison 1:
  - `apply()` supports both aggregation and non-aggregation functions.
  - `transform()` doesn't support aggregation functions (causing an error).
- Comparison 2:
  - <u>`apply()` sends the entire pandas.DataFrame to the calling function</u> so it can work with multiple Series at a time.
  - <u>`transform()` only sends each individual column as a pandas.Series to the calling function</u> so is can only work with one Series at a time. Also, the result from `transform()` has the same shape as self.

In [ ]:
# apply() allows working with multiple pandas.Series at a time

df = df_pokemon.loc[ :, ['pokedex_number','name','type1','type2','hp','attack','defense'] ]
df['att_sub_def'] = df[['hp','attack','defense']].apply(lambda x: x['attack'] - x['defense'], axis=1) # OK
df

In [ ]:
# transform() can only work with one pandas.Series at a time

df = df_pokemon.loc[ :, ['pokedex_number','name','type1','type2','hp','attack','defense'] ]
df['att_sub_def'] = df[['hp','attack','defense']].transform(lambda x: x['attack'] - x['defense'], axis=1) # ValueError
df

At this point, it may seem that `apply()` is more flexible and less prone to erros than `transform()`. However, there are situations where `transform()` is prefered over `apply()` as you will see in the next section.

---- จบคราส 1 กันยายน 2567 ----

# 3. Pandas: Groupby

Pandas’ `groupby()` allows us to split data into separate groups to perform computations for better analysis.
- Efficient data summarization
- Allow us to squeeze data (This is very useful when the data is so big and cannot fit in one Series/DataFrame)

## 3.1 The groupby object is neither pandas.Series nor pandas.DataFrame

Groupby on pandas.Series:

- When `groupby()` is used on Series, our job is to assign a group label to each row in the Series.

In [ ]:
# Create a pandas.Series to play around
ser = pd.Series([390., 350., 30., 20.])
ser

In [ ]:
# Determine a group for each Series' element by a list of group labels

# In the below command, the 0th and 2nd rows are assigned to the "a" group and the other two to the "b" group
grouped = ser.groupby( ["a", "b", "a", "b"] )

# The groupby object is neither Series nor DataFrame, be careful when dealing with it
grouped

In [ ]:
# Inspect the result of the above cell by iterating through the groupby object
for i, (name,group) in enumerate(grouped):
  print( f"===== Group {i} =====" )
  print( f"Group name: {name}" )
  print( f"Type: {type(group)}" )
  print( f"Value:\n{group}\n" )

In [ ]:
# Use a function to specify how to group each element in the pandas.Series
# In the lambda function below:
# - "i" refers to a label of a row
# - Any element (in a Series) whose value is greater than 300, will be assigned to the "A" group or the "B" group otherwise
grouped = ser.groupby( lambda i: "A" if ser.loc[i]>300 else "B" )

# Inspect the result by iterating through the groupby object
for i, (name,group) in enumerate(grouped):
  print( f"===== Group {i} =====" )
  print( f"Group name: {name}" )
  print( f"Type: {type(group)}" )
  print( f"Value:\n{group}\n" )

Groupby on pandas.DataFrame:

In [ ]:
# Prepare a pandas.DataFrame to play around
df = df_pokemon.loc[ :, ['pokedex_number','name','type1','type2'] ]

In [ ]:
# By default, any group with NA key will be dropped. To include NA-key group(s), set dropna=False.
# BUT having any group with NA key will lead to future errors (e.g., .groups, .get_group()).
# One suggestion is to use fillna() to replace NA keys before doing groupby().

# Compare groupby with 'dropna=True' versus 'dropna=False'
grouped = df.groupby( ['type2'] )     # default: axis=0, dropna=True
grouped_na = df.groupby( ['type2'], dropna=False )

# The groupby object is neither Series nor DataFrame, be careful when dealing with it
display(grouped)
display(grouped_na)

In [ ]:
# Access the groupby object's attribute

# Get the number of groups
print(f'{grouped.ngroups=}')      # OK
print(f'{grouped_na.ngroups=}')   # OK

In [ ]:
# Access the groupby object's attribute

# Get the group objects
# Each resultant list contains integer indices of rows that belong to the group
display(grouped.groups)      # OK
display(grouped_na.groups)   # ValueError because of the key=null category

In [ ]:
# Access the groupby object's method

# Compute and display group sizes
print( grouped.size(), end='\n\n' ) # OK
print( grouped_na.size() )          # OK

In [ ]:
# Access the groupby object's method

# Preview groups (and the first entry in each group) as a pandas.DataFrame
display( grouped.first() )      # OK
print()
display( grouped_na.first() )   # OK

In [ ]:
# Access the groupby object's method

# Preview groups (and the last entry in each group) as a pandas.DataFrame
display( grouped.last() )      # OK
print()
display( grouped_na.last() )   # OK

In [ ]:
# Access the groupby object's method

# Return a pandas.DataFrame of a specified group
display( grouped.get_group('dragon') )   # OK
#display( grouped_na.get_group(pd.NA) )  # Error: it doesn't know how to access the NA-key group

In [ ]:
# Iterate through groups

# Below codes work fine even for NA-key groups
for i, (name, group) in enumerate(grouped):
  if i == 3:    # As a demo, we inspect only the first three groups
    break
  print( f"\n===== Group {i} =====" )
  print( f"Group name: type={type(name)} value={name}" )
  print( f"Group: type={type(group)}" )
  display(group)

In [ ]:
# Group by many columns
group2 = df.groupby( ['type1', 'type2'] )

print(f'{group2.ngroups=}\n')
display(group2.groups)

In [ ]:
# When grouping is done based on many columns, use a tuple to specify the group name
group2.get_group( ('bug','poison') )

## 3.2 The groupby process: split-apply-combine

According to https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html, “group by” refers to a process involving one or more of the following steps:
- Splitting the data into groups based on some criteria
- **Applying a function to each group independently** (e.g., aggregation, transformation, filtration)
- Combining the results into a data structure

### 3.2.1 Split $→$ Aggregate

![picture](https://miro.medium.com/max/826/1*WTlC_t-5RQqeqS0tcbkCKQ.png)

Image from https://towardsdatascience.com/pandas-groupby-aggregate-transform-filter-c95ba3444bbb

In [ ]:
# Prepare a groupby object to play around
group = df_pokemon[['pokedex_number','name','type1','type2','hp','attack','defense']].groupby('type1')
group

In [ ]:
# Choose some existing columns from the groupby object

# Although it looks like choosing columns in pandas.DataFrame, the result below remains the groupby object
group[['hp','attack']]            # OK
#group.loc[ :, ['hp','attack'] ]  # Error: Groupby has no attribute 'loc'

In [ ]:
# Group -> Choose some existing columns -> Apply the aggregation function
# For each group, apply an aggregation function to each column separately

# As 'mean' is numeric aggregation, non-numeric columns (i.e., 'name','type1','type2') are excluded (with warning)
group[['hp','attack','defense']].agg('mean')   # This equals group[['hp','attack','defense']].mean() as well as group[['hp','attack','defense']].agg(np.mean)
#group.agg('mean')     # NotImplementedError due to non-numeric columns included

In [ ]:
# Group -> Choose some existing columns -> Apply the aggregation functions
result = group[['hp','attack']].agg(['mean','median','min','max','std'])

# Result is a DataFrame with two-level column indices
result

In [ ]:
# (Optional) Reset row index
result.reset_index(inplace=True)
result

In [ ]:
result['hp']          # Access level0 column

In [ ]:
display( result['hp']['mean'] )   # Access level1 column

### 3.2.2 Split $→$ Transform

**EX1:** Standardization (this function has no aggregation effect)

In [ ]:
# Create a pandas.DataFrame to play around
df = df_pokemon[ ['pokedex_number','name','type1','type2','hp','attack','defense'] ]

In [ ]:
# Before standardization: Inspect mean and SD values of all groups

# Group the data
# Explanation about 'group_keys' in the following EX2
grouped = df.groupby('type1', group_keys=False)

# Check the current mean and SD for each group in 'type1'
print( f"{'='*10} Group by 'type1' -> Find mean {'='*10}\n" )
print( grouped.mean(numeric_only=True), end='\n\n' )
print( f"{'='*10} Group by 'type1' -> Find SD {'='*10}\n" )
print( grouped.std(numeric_only=True) )

In [ ]:
# Perform standardization to each group of 'type1'

# Group -> Choose columns -> Data transformation
# Two commands below produce the same results, use only one
#transformed = grouped[['hp','attack','defense']].apply( lambda x: ((x - x.mean()) / x.std()) )
transformed = grouped[['hp','attack','defense']].transform( lambda x: ((x - x.mean()) / x.std()) )

# Notice that results below are no longer grouped by 'type1'
transformed

Unlike aggregation, data transformation is typically used by assigning the results to a new column.

In [ ]:
# To easily compare values, assign the transformed result to new columns
df2 = df.assign(hp_zscore=transformed['hp'], \
                att_zscore=transformed['attack'], \
                def_zscore=transformed['defense'])

df2

In [ ]:
# After standardization: Reconfirm mean and sd values of each group

# Notice that mean and SD values of each group are about 0.0 and 1.0 respectively
print( f"{'='*5} Group by 'type1' -> Standardize -> Mean {'='*5}\n" )
print( df2.groupby('type1')[['hp_zscore','att_zscore','def_zscore']].mean() )
print( f"\n{'='*5} Group by 'type1' -> Standardize -> SD {'='*5}\n" )
print( df2.groupby('type1')[['hp_zscore','att_zscore','def_zscore']].std() )

**EX2:** Difference between `apply()` and `transform()` when using with groupby

In [ ]:
# Prepare the DataFrame to play around
df = df_pokemon[ ['pokedex_number','name','type1','hp','attack','defense'] ]
df.head()

When the function IS NOT an aggregate function:

In [ ]:
# The 'group_keys' argument when using df.groupby(..., group_keys).apply(...)
# - When 'group_keys=True', the group labels are prepended to the resultant DataFrame
# - When 'group_keys=False', the group labels are omitted in the resultant DataFrame
# The 'group_keys' argument only matters when the result from df.groupby().apply() has the same shape as the original 'df'

print(f'************ group_keys=False ************')
df_false = df.groupby('type1', group_keys=False)[['hp','attack','defense']].apply(lambda x: x/100)
print( df_false.index, end='\n\n' )
display( df_false )

print(f'\n************ group_keys=True ************')
df_true = df.groupby('type1', group_keys=True)[['hp','attack','defense']].apply(lambda x: x/100)
print( df_true.index, end='\n\n' )
display( df_true )

In [ ]:
# Groupby -> Choose columns -> Use a non-aggregate function

# These two commands produce the same result (DataFrame), use only one
# Notice that the results are no longer grouped by type1
#df.groupby('type1', group_keys=False)[['hp','attack','defense']].apply(lambda x: x/100)
df.groupby('type1')[['hp','attack','defense']].transform(lambda x: x/100)

In [ ]:
# Groupby -> Choose columns -> Use a non-aggregate function
# Remind that apply() sends the whole DataFrame to the calling function whereas transform() only sends each column separately

# OK
# Notice that the results are no longer grouped by 'type1'
df.groupby('type1', group_keys=False)[['hp','attack','defense']] \
                                        .apply(lambda x: (x['attack'] - x['defense']).to_frame('att_sub_def') )

# KeyError
#df.groupby('type1')[['hp','attack','defense']].transform(lambda x: (x['attack'] - x['defense']).to_frame('att_sub_def') )

When the function IS an aggregate function:

In [ ]:
# Groupby -> Choose columns -> Use an aggregate function via apply()
# When the result from .apply() doesn't retain the shape of 'df', 'group_keys' has no effect

# When the function includes aggregation, apply() returns one value per one group
df.groupby('type1')[['hp','attack','defense']].apply(lambda x: x.max())

While `groupby()`+aggregation (Section 3.2.1: Split $→$ Aggregate) and `groupby()`+`apply(aggregate_func)` return a reduced (grouped) version of the input, `groupby()`+`transform(aggregate_func)` returns a group-level transformed version <u>of the full data</u>. The new output data has the same length (the same number of rows) as the input data.

![picture](https://miro.medium.com/max/826/1*fxdhr6i-jlzeex7f5RkIlw.png)

Image from https://towardsdatascience.com/pandas-groupby-aggregate-transform-filter-c95ba3444bbb

In [ ]:
# Groupby -> Choose columns -> Use an aggregate function via transform() -> Append the result to the original DataFrame
# Even when the function includes aggregation, transform() returns results with the same length as the input

# Transform the groupby object
transformed = df.groupby('type1')[['hp','attack','defense']].transform(lambda x: x.max())
print('******* DataFrame resulted from .transform() *******')
display( transformed )

# Append the tranform results to the original DataFrame
print('\n******* Original DataFrame with transformed columns appended *******')
df2 = df.assign( type1_hp_max=transformed.hp, type1_att_max=transformed.attack, type1_def_max=transformed.defense)
df2

### 3.2.3 Split $→$ Filtration

- Filtration is a process in which we <u>discard some groups</u>, according to a group-wise computation that evaluates True or False.
- As the name suggests, `filter()` <u>does not change the data in any capacity, but instead selects a subset of the data</u>.

![picture](https://miro.medium.com/max/826/1*lDZgurT8zja-u77DW758KQ.png)

Image from https://towardsdatascience.com/pandas-groupby-aggregate-transform-filter-c95ba3444bbb

In [ ]:
# Create a DataFrame to play around
df = df_pokemon[ ['pokedex_number','name','type1','hp','attack','defense'] ]
df.head()

In [ ]:
# Groupby without filter
df.groupby('type1').size()

In [ ]:
# Groupby with a filter

# Groupby -> Filtration
# Show only data that belongs to a group whose number of pokemons is less than 20
result = df.groupby('type1').filter(lambda group: group['pokedex_number'].count() < 20)

# Result from groupby+filter is the subset of the original dataframe (df) not the grouped results
result

## 3.3 Groupby's wrapup
1. Result returned from `.groupby()` is neither pandas.Series nor pandas.DataFrame, but a Groupby object.

2. A Groupby object can be further processed with aggregation functions. Result is <u>an aggregated DataFrame whose number of rows equal to the number of groups</u>.
  - Standalone aggregation function: `df.groupby(...).mean(...)`, ...
  - Compound aggregation function: `df.groupby(...).agg(...)`

3. A Groupby object can be further processed with apply functions, `df.groupby(..., group_keys).apply(func)`:
  - `func` can be any function with-or-without aggregation effect and with-or-without cross-colomn calculation.
  - If `func` is a function with no aggregation effect, result is <u>a non-aggregated DataFrame whose number of rows equal to the original DataFrame before being grouped</u>. In this case, watch out the bool value in `group_keys`.
  - If `func` is a function with aggregation effect, result is <u>an aggregated DataFrame whose number of rows equal to the number of groups</u>.

4. A Groupby object can be further processed with tranformation functions, `df.groupby(...).tranform(func)`:
  - `func` can be any function with-or-without aggregation effect but <u>any cross-colomn calculation will cause an error</u>.
  - If `func` is a function with no aggregation effect, it is similar to calling `df.groupby(..., group_keys=False).apply(func)`. Result is <u>a non-aggregated DataFrame whose number of rows equal to the original DataFrame before being grouped</u>.
  - If `func` is a function with aggregation effect, result is <u>seemingly a non-aggregated DataFrame whose number of rows equal to the number of groups</u>. However, the data in transformed columns are not the same as the data in the original DataFrame (before being grouped) <u>but they are the per-group aggregated results.</u>

5. A Groupby object can be further processed with filtration functions, `df.groupby(...).filter(group_func)`:
  - `group_func` is a function that receives one group as input and returns True/False (= Does this group meet our criteria?).
  - Result from `df.groupby(...).filter(group_func)` is a direct subset of the original DataFrame before being grouped (no data in `df` is changed). <u>However, some rows in `df` will be filtered out (eliminated) if they belong to groups that don't meet our criteria judging by `group_func`</u>.

# PRACTICE

1. (1 point) Based on the 'type1' attribute, conclude the numbers of each pokemon type. Sort the results descendingly based on the numbers of pokemons.

2. (1 point) Display all types of pokemons (considering 'type1' only) from the best to the worst stats.
  - First, consider 'hp', the larger the better. Then, consider the average between 'attack' and 'defense', the larger the better
  - The final display should include at least 'type1', 'hp', 'attack' and 'defense' columns.

3. (1.5 point) Display all pokemons whose 'hp' is greater than the average hp value computed from all pokemons with the same 'type1'. Sort the result by 'type1' (ascendingly) then by 'hp' (descendingly).