<a href="https://colab.research.google.com/github/RatanakamonS/DADS5001-PART1/blob/main/HW/HW4_6620422002_Ratanakamon_Somklang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file is no longer focus on how to use pandas to plot each type of graph. Instead, this file discusses about <u>subplot and text-and-arrow annotation</u> together with the practice at the end.

In [5]:
import sys
import pandas as pd
import numpy as np
import IPython
from IPython.display import display

import matplotlib as mpl
%matplotlib inline
import matplotlib.pyplot as plt

# https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html
plt.style.use('seaborn-v0_8')   # The 'seaborn' style is deprecated

# Practice

Use our old pokemon dataset to do the following data visualization.

1. (1.5 points) Plot the number of each pokemon type.

![Question1](https://github.com/RatanakamonS/DADS5001-PART1/blob/main/HW/matplotlib3_question1_answer.png?raw=1)

In [11]:
pokemon_df = pd.read_csv("https://raw.githubusercontent.com/RatanakamonS/DADS5001-PART1/refs/heads/main/week5/pokemon%20(1).csv")
pokemon_df.head()
type1_count = pokemon_df['type1'].value_counts()
type1_count

type1
water       114
normal      105
grass        78
bug          72
psychic      53
fire         52
rock         45
electric     39
poison       32
ground       32
dark         29
fighting     28
ghost        27
dragon       27
steel        24
ice          23
fairy        18
flying        3
Name: count, dtype: int64

In [12]:
type2_count = pokemon_df['type2'].value_counts()
type2_count

type2
flying      95
poison      34
ground      34
fairy       29
psychic     29
fighting    25
steel       22
dark        21
grass       20
water       17
dragon      17
ice         15
rock        14
ghost       14
fire        13
electric     9
bug          5
normal       4
Name: count, dtype: int64

2. (1.5 points) For pokemons whose type1 is fire, water, or bug, create one figure (with several subplots) to conclude their histograms of hp, attack, and defense.

![Question2](https://github.com/RatanakamonS/DADS5001-PART1/blob/main/HW/matplotlib3_question2_answer.png?raw=1)